



<!-- Routed components go here 

<h2>Componentes</h2>

<router-outlet></router-outlet>

<a routerLink="/movie/movies" routerLinkActive="active">Movies</a>
-->

<h1>Componentes</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/movies" routerLinkActive="active">Movies</a></li>
    <li><a routerLink="/movie" routerLinkActive="active">Movie</a></li>
 
  </ul>
</nav>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>